table {
    border-collapse: collapse;
    margin: auto;
    border: 2px solid #880d1e;
    height: 700px;
    width: 500px;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    border: 2px solid #880d1e;
    background-color: white;
   
    
}

tr {
    border: 2px solid #880d1e;
}

button
{
    display:  block;
    margin: 20px auto;
    padding: 8px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #880d1e;
    background-color: #ffb3c6;
    color: #880d1e;
}

body {
    background-image: url(images/hatter2.jpg);
    background-size: cover;
    
    
}

table img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}
    

.visited {
    background-color:  #ffb3c6; 
}


#points-counter {
    animation-name: pop;
    animation-duration: 3s;
}


@keyframes pop {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


#counters {
   display: flex;
   justify-content: center;
   gap: 180px;
   padding-bottom: 20px;
}

@media (max-width: 600px) {
    table {
        width: 95vw;
    }
    table td {
       
    }
    button {
        font-size: 14px;
        padding: 6px 14px;
    }
    table img {
        width: 90%;
        height: auto;
        display: block;
        margin: auto;
    }
    #counters {
        gap: 40px;
        flex-wrap: wrap;
    }
}




