table {
    border-collapse: collapse;
    margin: auto;
    border: 2px solid #880d1e;
    height: 700px;
    width: 500px;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    border: 2px solid #880d1e;
    background-color: white;
   
    
}

tr {
    border: 2px solid #880d1e;
}

button
{
    display:  block;
    margin: 20px auto;
    padding: 8px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #880d1e;
    background-color: #ffb3c6;
    color: #880d1e;

}

body {
    background-image: url(images/hatter2.jpg);
    background-size: cover;
    
    
}

table img {
    margin-left: 5px;
 
    
}

.visited {
    background-color:  #ffb3c6; 
}

/* #moves-counter {
    margin-left: 160px;
    padding: 20px 10px;
    
} */

#counters {
   display: flex;
   justify-content: center;
   gap: 180px;
   padding-bottom: 20px;
}


/* @media screen(max-width:) {
    
} */

